.hero {
  margin-top: 42px;
}

h1 {
  font-size: clamp(34px, 5.2vw, 56px);
  letter-spacing: -1.9px;
}

.hero p {
  margin-block: 12px;
}

@media (max-width: 650px) {
  .hero {
    margin-top: 30px;
  }

  h1 {
    font-size: clamp(32px, 10vw, 43px);
    letter-spacing: -1.2px;
  }
}
